<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <title>
         Cleaned arXiv RSS Feeds
      </title>
      <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8">
   </head>
   <body>
      <table class='main'>
         <tr>
            <td>
               <p>
                  Not all RSS feed readers/viewers are able to interpret
                  HTML tags. When reading arXiv feeds, this leads to a very
                  cluttered feed when author lists are long:
               </p>
               <table align='center'>
                  <tr>
                     <td align='center'><b>Before</b></td>
                     <td align='center'><b>After</b></td>
                  </tr>
                  <tr>
                     <td width='275'>
                        <img src='static/before.png' width='250'>
                     </td>
                     <td width='275'>
                        <img src='static/after.png' width='250'>
                     </td>
                  </tr>
               </table>
               <p>
                  This site dynamically generates HTML-stripped versions of
                  the <a href="http://www.arxiv.org">arXiv</a> RSS feeds. To
                  use the cleaned versions, use the links below in your RSS
                  reader instead of the official arXiv ones.
               </p>
               <p>
                  The code for the Google App engine is available on <a
                  href="https://github.com/astrofrog/arxivcleaner">GitHub</a>.
                  Please report any issues there, and please do contribute
                  to the code if you have ideas to improve it! I've only
                  included the Astrophysics feeds so far, but adding all the
                  other would be trivial, so contributions are welcome!
               </p>
               <p>
                  <b>Disclaimer:</b> This website is provided as a free
                  service, and is still experimental! I cannot make any
                  guarantees that valid data will not be removed from the
                  feeds.
               </p>
               <p>
                  Astrophysics:
                  <a href="astro-ph" alt="All articles">All</a> -
                  <a href="astro-ph.CO" alt="Cosmology and Extragalactic Astrophysics">CO</a> -
                  <a href="astro-ph.EP" alt="Earth and Planetary Astrophysics">EP</a> -
                  <a href="astro-ph.GA" alt="Galaxy Astrophysics">GA</a> -
                  <a href="astro-ph.HE" alt="High Energy Astrophysical Phenomena">HE</a> -
                  <a href="astro-ph.IM" alt="Instrumentation and Methods for Astrophysics">IM</a> -
                  <a href="astro-ph.SR" alt="Solar and Stellar Astrophysics">SR</a>
               </p>
               <p>
                  The arXiv feed cleaner is provided by <a
                  href="http:/www.mpia.de/~robitaille">Thomas Robitaille</a>
                  (<a href="http://www.twitter.com/astrofrog">@astrofrog</a>)
               </p>
            </td>
         </tr>
      </table>
   </body>
</html>
