<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <title>
         Cleaned ArXiv RSS Feeds
      </title>
      <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8">
   </head>
   <body>
      <table class='main'>
         <tr>
            <td>
               <h1>
                  About
               </h1>
               <p>
                  Not all RSS feed readers/viewers are able to interpret HTML tags. For example, Google Reader does not interpret HTML tags in the author section. When reading ArXiv feeds, this leads to a very cluttered feed when author lists are long.
               </p>
               <p>
                  This site dynamically generates HTML-stripped versions of the <a href="http://www.arxiv.org">ArXiv</a> RSS feeds. To use them cleaned versions, follow the links below, and use the resulting URLs in your RSS reader instead of the official ArXiv ones.
               </p>
               <p>
                  <b>Disclaimer:</b> This website is provided as a free service, and is still experimental. I cannot make any guarantees that valid data will not be removed from the feeds.
               </p>
               <p>
                  The code for the Google App engine is available on GitHub. Please report any issues there, and please do contribute to the code if you have ideas to improve it!
               </p>
               <h1>
                  The feeds
               </h1>
               <p>
                  Astrophysics:
                  <a href="astro-ph" alt="All articles">All</a> -
                  <a href="astro-ph.CO" alt="Cosmology and Extragalactic Astrophysics">CO</a> -
                  <a href="astro-ph.EP" alt="Earth and Planetary Astrophysics">EP</a> -
                  <a href="astro-ph.GA" alt="Galaxy Astrophysics">GA</a> -
                  <a href="astro-ph.HE" alt="High Energy Astrophysical Phenomena">HE</a> -
                  <a href="astro-ph.IM" alt="Instrumentation and Methods for Astrophysics">IM</a> -
                  <a href="astro-ph.SR" alt="Solar and Stellar Astrophysics">SR</a>
               </p>
               <h1>
                  Credits
               </h1>
               <p>
                  The ArXiv feed cleaner is provided by <a href="http:/www.mpia.de/~robitaille">Thomas Robitaille</a> (<a href="http://www.twitter.com/astrofrog">@astrofrog</a>)
               </p>
            </td>
         </tr>
      </table>
   </body>
</html>
